<!DOCTYPE html>
<html>
 <title>Olivia's Image Repository</title>
<body a="auto">
    <main class="page-content" aria-label="Content">
      <div class="w">
        <a href="/"></a><h1>&lt;img repo&gt;</h1>
        <a href="http://localhost:4000/">[home]</a>
        <p>An image repository of the purest form. <br> Freedom from you and me, freedom to be.</p>
        <img src="https://github.com/olivia-long127/img-repo/blob/main/IMG_5572.jpg?raw=true" alt="horrendous cafe">
        <i><br>Shiho Igarashi, 2025. All other photos taken by me using an Olympus µ Mini.</i><br><br>
        <img src="https://github.com/olivia-long127/img-repo/blob/main/P1011983.JPG?raw=true" alt="sunny cafe"><br>
        <img src="https://github.com/olivia-long127/img-repo/blob/main/P1010800.JPG?raw=true"><br>
        <img src="https://github.com/olivia-long127/img-repo/blob/main/P1012399.JPG?raw=true"><br>
        <img src="https://github.com/olivia-long127/img-repo/blob/main/P1010806.JPG?raw=true"><br>
        <img src="https://github.com/olivia-long127/img-repo/blob/main/P1011880.JPG?raw=true"><br>
        <img src="https://github.com/olivia-long127/img-repo/blob/main/P1011432.JPG?raw=true"><br>
        <img src="https://github.com/olivia-long127/img-repo/blob/main/P1011679.JPG?raw=true"><br>
        <img src="https://github.com/olivia-long127/img-repo/blob/main/P1012123.JPG?raw=true"><br>
        <img src="https://github.com/olivia-long127/img-repo/blob/main/P1011437.JPG?raw=true"><br>
        <img src="https://github.com/olivia-long127/img-repo/blob/main/P1011660.JPG?raw=true"><br>
        <img src="https://github.com/olivia-long127/img-repo/blob/main/P1011671.JPG?raw=true"><br>
        <img src="https://github.com/olivia-long127/img-repo/blob/main/P1011883.JPG?raw=true"><br>
        <img src="https://github.com/olivia-long127/img-repo/blob/main/P1011924.JPG?raw=true"><br>
        <img src="https://github.com/olivia-long127/img-repo/blob/main/P1011987.JPG?raw=true"><br>
        <img src="https://github.com/olivia-long127/img-repo/blob/main/P1012304.JPG?raw=true"><br>
        <img src="https://github.com/olivia-long127/img-repo/blob/main/P1012460.JPG?raw=true"><br>
        <img src="https://github.com/olivia-long127/img-repo/blob/main/P1012510.JPG?raw=true"><br>
        <img src="https://github.com/olivia-long127/img-repo/blob/main/P1012532.JPG?raw=true"><br>
        <img src="https://github.com/olivia-long127/img-repo/blob/main/P1014098.JPG?raw=true"><br>
        <img src="https://github.com/olivia-long127/img-repo/blob/main/P5280009.JPG?raw=true"><br>
      </div>
    </main>
  </body>
</html>
